/* bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

/* app */
#app {
    font-family: "REM", sans-serif;
    font-size: large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
}

/* universal selector */

/* custom variables */
:root {
    /*     --c1: #2ec4b6;
    --c2: #011627;
    --c3: #ff9f1c;
    --c4: #669bbc;
    --c5: #3d5a80;
    --c6: #f2e9e4; */
    --primary: #6D6053;
    --background: #BFA88A;
    --accent: #CE9461;
    --font: #242423;
}

/* scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* 
::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 10px;
} */

/* Scrollbar Colour */
/* ::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--accent), var(--background));
    border-radius: 10px;

} */

/* select all img */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* logo */
[logo] {
    padding-inline: 0.2rem;
    color: var(--font);
    border: 4px solid var(--accent);

    &:hover {
        color: var(--accent);
        border: 4px solid var(--font);
    }
}

li {
    margin-left: 2rem;
}

h3 {
    text-decoration: underline;
}

.landingSec {
    min-height: 86vh;
}

section {
    scroll-margin-block: 4.3rem;
    min-height: 100vh;
    /*  max-height: fit-content; */
    justify-content: center;
    padding-block: 2rem;
    border-bottom: 4px solid var(--accent);
}

.body {
    background-color: var(--background);
    color: var(--font);
    box-shadow: inset 0 0 70px black;
}

.navbar {
    background-color: var(--primary);
    border-bottom: 5px solid var(--accent);
}

.eduxp {
    margin-block: 1.6rem;
}

textarea {
    margin-inline: auto;
    width: 18rem;
    min-height: 6rem;
    border: none;
    background-color: var(--primary);
    color: var(--background);
}

input {
    width: 18rem;
    border: none;
    background-color: var(--primary);
    color: var(--background);
}

[type="text"] ,[type="email"] , textarea{
    text-indent: 0.5rem;
}

button {
    background-color: var(--background);

    &:hover {
        background-color: var(--accent);
    }
}

footer {
    padding-block: 0.7rem;
}

i {
    font-size: x-large;
    color: var(--font);

    & span {
        font-size: medium;
    }
}

a:hover {
    text-shadow: 0 0 3px var(--font);
    color: var(--accent);
}

.noPad {
    padding: 0;
}

@media (width < 768px) {
    .body {
        font-size: smaller;
    }

    #card {
        height: 25rem;
    }
}

.noPadding{
    padding: 0;
}